*{
    padding:0%;
    margin:0%;
}

header{
    display: flex;
    
    margin-left: 15px;
    margin-top: 5px;



}
nav{
    display: flex;
    justify-content: right;
    list-style: none;
    
}
